* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header>div {
    height:55vh;
}

.menu>ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: lightblue;
    padding: 10px 0px;
}

.menu>ul>li {
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px 0px;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}

ul>li:hover{
    background: #fefefe;
}

.main {
    display: flex;
    align-items: center;
    text-align: center;
    height: 35vh;
    padding: 8px;
    background: lightgrey;
    border: 2px solid black;
}

.aside {
    width: 30%;
    padding-right: 8px;
}

.content {
    width: 70%;
}

.tableData {
    color: goldenrod;
}

table tr:nth-child(odd){background-color: #f2f2f2;}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    height: 100px;
}